/*css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
input {
  padding: 5px;
}
textarea {
  padding: 3px;
}
/*css reset end*/

body {
  background-color: #072227;
  font-family: "Comfortaa", cursive;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

/*header*/
header h1 {
  text-align: center;
  padding: 0.5rem;
  margin-top: 1vh;
  color: #aefeff;
  font-weight: bold;
  font-size: 1.2rem;
}

/*submit section*/
.submit {
  display: flex;
  justify-content: center;
  margin: 1vh auto;
}
form {
  display: flex;
  gap: 0.9rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
input {
  font-family: "Comfortaa", cursive;
}
input:nth-child(1) {
  height: 35px;
  width: 306px;
}
input:nth-child(2) {
  width: 120px;
  height: 35px;
}
input:nth-child(3) {
  width: 161px;
  height: 35px;
}
input:nth-child(4) {
  height: 35px;
}
::placeholder {
  color: #aefeff;
  opacity: 0.6;
  font-family: "Comfortaa", cursive;
}
.input-style {
  color: #aefeff;
  border: 1px solid #aefeff;
  border-radius: 3px;
  background-color: #072227;
}
.add-button {
  border: none;
  font-size: 19px;
  border-radius: 3px;
  background-color: #aefeff;
  color: #072227;
  font-weight: bold;
  width: 212px;
  height: 35px;
  box-shadow: 0 0 5px #aefeff;
  cursor: pointer;
  font-family: "Comfortaa", cursive;
}
.add-button:hover {
  opacity: 0.8;
  transition: 0.5s;
}
/*cards section*/

/* list layout */
.cards-list {
  width: 65vw;
  color: #ffffff;
  margin: 2.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1280px) and (max-width: 1645px) {
  .cards-list {
    width: 85vw;
  }
}
@media (min-width: 500px) and (max-width: 1280px) {
  .cards-list {
    width: 90vw;
  }
}
@media (max-width: 783px) {
  .cards-list {
    width: 49vw;
  }
  .submit {
    max-width: 600px;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(100%/ (3 + 1) + 0.1%, 340px, 100%), 1fr)
  );
  gap: 30px 25px;
  justify-items: center;
}

.card {
  border: 1px solid #4fbdba;
  border-radius: 5px;
  display: flex;
  min-width: 340px;
  gap: 2px;
  position: relative;
}
.card-poster {
  border-radius: 4px;
  width: 119px;
  height: 95%;
  margin: 5px;
}
/* card styling */
.film-info {
  padding: 10px 0;
}
.star-icon {
  filter: invert(88%) sepia(35%) saturate(350%) hue-rotate(118deg)
    brightness(105%) contrast(107%);
  cursor: pointer;
  margin-left: 3px;
}
.x-button {
  background: none;
  width: 2rem;
  height: 2rem;
  border: none;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
}
.edit-button {
  background: none;
  width: 1.8rem;
  height: 1.8rem;
  border: none;
  position: absolute;
  right: 45px;
  top: 7px;
  cursor: pointer;
}
svg:hover {
  fill: #69797d !important;
}
/* .x-svg {
  pointer-events: none;
} */
.stats {
  display: flex;
}
.rate {
  margin-left: 5px;
}
.film-date {
  opacity: 0.7;
}
/* review */
.review {
  margin: 5px 7px 0 0;
}
.review p:nth-child(1) {
  font-size: 16px;
}
.review p:nth-child(2) {
  font-size: 14px;
}
.review-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 290px;
}

.modal-text {
  white-space: pre-wrap;
  color: white;
  margin: 1rem;
  text-align: left;
}

.review-button {
  border: none;
  border-radius: 3px;
  font-weight: bold;
  background-color: #aefeff;
  color: #072227;
  width: 90%;
  height: 1.4rem;
  cursor: pointer;
  margin-top: 0.6rem;
  font-family: "Comfortaa", cursive;
}
.review-button:hover {
  opacity: 0.8;
  transition: 0.5s;
}
/* modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #072227;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
/* The Close Button */
.close {
  color: #aefeff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #0d758a;
  text-decoration: none;
  cursor: pointer;
}
.film-name {
  margin-bottom: 4px;
}
/* footer */
footer {
  position: relative;
  margin-top: auto;

  background-color: #4fbdba;
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-txt {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}
